<!-- myapp/templates/myapp/result.html -->
{% load static %}  <!-- Make sure to load the static template tag -->

<!-- myapp/templates/myapp/output_graph.html -->
<!DOCTYPE html>
<html>
<head>

    <title>Output Graph</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
        <h1>Output Graph</h1>
        <div class="input-values">
            <h2>Input Values:</h2>
            <p>Value of 'a': {{ a }}</p>
            <p>Value of 'n': {{ n }}</p>
            <p>Value of 'm': {{ m }}</p>
            <p>Value of 'soil_suction_r': {{ soil_suction_r }}</p>
        </div>
        <div class="input-values">
            <h2>Total error</h2>
            <p>Value of 'error_sum': {{ error_sum }}</p>
        </div>
        <div class="wanted-values">
            <h2>Optimal Values:</h2>
            <p>new a: {{ optimal_a }}</p>
            <p>new n': {{ optimal_n }}</p>
            <p>new m: {{ optimal_m }}</p>
            <p>new ': {{ optimal_soil_suction_r }}</p>
        </div>
            <div>
                {{ swcc_div1|safe }}
            </div>
            <div>
                {{ swcc_div|safe }}
            </div>
            <div>
                {{ psd_div|safe }}
            </div>
            <div>
                {{ new_swcc_div|safe }}
            </div>

</body>
</html>
